<div class="main-container">
  <mat-toolbar id="header">
    <div class="header-left">
      <button
        mat-icon-button
        class="example-icon"
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon class="iconClass">menu</mat-icon>
      </button>
      <span>Welcome to Fakebook (TM)</span>
      <form *ngIf="isLoggedIn" id="searchFriend">
        <mat-form-field id="matSearchBar">
          <input
            type="text"
            placeholder="Search for a friend..."
            matInput
            [formControl]="myControl"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              id="searchOption"
              *ngFor="let option of friendList"
              [value]="getOptionText(option)"
              (click)="findFriend(option.username)"
            >
              {{ getOptionText(option) }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
      <span class="example-spacer"></span>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon [ngStyle]="{ color: 'orangered' }">info</mat-icon>
          <span>About</span>
        </button>
        <button
          *ngIf="auth.user$ | async as user; else loggedOutUser"
          mat-menu-item
          (click)="logout()"
        >
          <mat-icon [ngStyle]="{ color: 'orangered' }">logout</mat-icon>
          <span>Logout</span>
        </button>
        <button
          *ngIf="auth.user$ | async as user"
          mat-menu-item
          [routerLink]="['/profile', this.currentLoggedInUsername, false]"
        >
          <mat-icon [ngStyle]="{ color: 'orangered' }">person</mat-icon>
          <span>Profile</span>
        </button>
        <ng-template #loggedOutUser>
          <button mat-menu-item (click)="login(false)">
            <mat-icon [ngStyle]="{ color: 'orangered' }">login</mat-icon>
            <span>Login</span>
          </button>
          <button mat-menu-item (click)="login(true)">
            <mat-icon [ngStyle]="{ color: 'orangered' }">
              account_circle
            </mat-icon>
            <span>Create New Account</span>
          </button>
        </ng-template>
        <button
          *ngIf="isDevelopmentEnvironment"
          mat-menu-item
          [routerLink]="['/developer', true]"
        >
          <mat-icon [ngStyle]="{ color: 'orangered' }">code</mat-icon>
          <span>Developer Menu</span>
        </button>
      </mat-menu>
    </div>
    <!-- TODO switch to their firstName when we connect backend -->
    <span *ngIf="auth.user$ | async as user" class="">
      Hello 👋 {{ currentUser.firstName }}
    </span>
  </mat-toolbar>

  <div class="homeSections">
    <div
      *ngIf="auth.user$ | async as user; else showLogo"
      class="posts-container"
    >
      <form [formGroup]="createPostForm">
        <div id="createPost">
          <mat-form-field color="warn" class="createPostInput">
            <input
              matInput
              formControlName="createPostInput"
              placeholder="What's on your mind?"
            />
          </mat-form-field>
          <button
            id="submitButton"
            mat-raised-button
            [disabled]="!createPostForm.get('createPostInput')?.value"
            (click)="createNewPost()"
          >
            Post
          </button>
        </div>
      </form>
      <div *ngFor="let post of feed">
        <user-post
          [initialReactions]="post.reactionCount"
          [comments]="post.replyCount"
          [postText]="post.text"
          [userFirstName]="post.authorFirstName"
          [userLastName]="post.authorLastName"
          [authorUsername]="post.authorUsername"
          [postId]="post.id"
          [userId]="post.authorId"
          [loggedInUserId]="currentUser.id || -1"
          [initialReactionByUser]="post.reactionByUser"
          [loggedInUserIsAdmin]="userService.getBoolean()"
          (shouldRefreshPosts)="getInitialPosts()"
        ></user-post>
      </div>
    </div>
    <ng-template #showLogo>
      <div class="homeOptions">
        <img src="https://utfs.io/f/Nw9IjcaLB3sGZGqBcs2zQwRg1vNEHaLk50piD8GW9ful4ers" alt="Logo" />
      </div>
    </ng-template>
  </div>
  <mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner>
</div>


