
<button routerLink="/feed">user feed</button>
<button routerLink="/profile">user profile</button>

  <mat-toolbar id="header">
    <div class="header-left">
      <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu" aria-label="Example icon-button with menu icon">
        <mat-icon class="iconClass">menu</mat-icon>
      </button>
      <span>Welcome to Fakebook (TM)</span>
      <span class="example-spacer"></span>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon [ngStyle]="{'color':'orangered'}">info</mat-icon>
          <span>About</span>
        </button>
        <button *ngIf="auth.user$ | async as user; else loggedOutUser" mat-menu-item (click)="logout()">
          <mat-icon [ngStyle]="{'color':'orangered'}">logout</mat-icon>
          <span>Logout</span>
        </button>
        <ng-template #loggedOutUser>
          <button mat-menu-item (click)="login(false)">
            <mat-icon [ngStyle]="{'color':'orangered'}">login</mat-icon>
            <span>Login</span>
          </button>
          <button mat-menu-item (click)="login(true)">
            <mat-icon [ngStyle]="{'color':'orangered'}">account_circle</mat-icon>
            <span>Create New Account</span>
          </button>
        </ng-template>
      </mat-menu>
    </div>
    <!-- TODO switch to their firstName when we connect backend -->
    <span *ngIf="auth.user$ | async as user" class="">Hello 👋 {{ user.email }}</span>
  </mat-toolbar>

  <div class="homeSections">
    <div id="homeDescription" class="homeOptions">
        Short description of our app and how your life will be immeasurably better once you start to use it.
        Facebook, shmacebook. 
    </div>
    <div class="homeOptions">
        <img src="../images/paper_plane.jpg">
    </div>
  </div>

  <!--these two buttons are just for visiblity now, we can redirect users to the appropriate pages in a different manner later on-->
<button routerLink="/feed">user feed</button>
<button routerLink="/profile">user profile</button>

  <footer id="footer">Not affiliated with any other corporation involving books of faces (TM) not sure if we need a footer but here is one we could modify</footer>



