<mat-card appearance="raised" id="mainCard">
  <div>
    <mat-toolbar>
      <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu" aria-label="Example icon-button with menu icon">
        <mat-icon [ngStyle]="{'color':'orangered'}">menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item  (click)="logout()">
          <mat-icon [ngStyle]="{'color':'orangered'}">logout</mat-icon>
          <span>Logouts</span>
        </button>
        <button mat-menu-item [routerLink]="['/home']">
          <mat-icon [ngStyle]="{'color':'orangered'}">home</mat-icon>
          <span>Home</span>
        </button>
      </mat-menu>
    </mat-toolbar>
  </div>
  <div id="profileInfo">
    <mat-card-title>{{ selectedUser.firstName}} {{ selectedUser.lastName}}
      <mat-card-subtitle> {{ selectedUser.username }}</mat-card-subtitle>
    </mat-card-title>
    <mat-card-content> {{selectedUser.bio}}</mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button class="profileSectionButton" (click)="showFeedCard()">Feed</button>
      <button mat-stroked-button class="profileSectionButton" (click)="showFriendCard()">Friends</button>
      <button *ngIf="shouldHaveWriteAccess" mat-stroked-button class="profileSectionButton" (click)="showFriendRequestCard()">Friend Requests</button>
    </mat-card-actions>
  </div>
</mat-card>
<button [disabled]="!shouldHaveWriteAccess" (click)="editProfile()">Edit Profile</button>
<button *ngIf="shouldShowAddFriendButton" (click)="addFriend()">Add Friend</button>
<button *ngIf="shouldShowDeleteFriendButton" (click)="deleteFriend(profileBeingViewedUsername)">Delete Friend</button>

<div *ngIf="shouldShowProfileFeed" id="posts">
  <div *ngFor="let post of userPosts">
    <user-post
      [likes]="post.reactCount"
      [comments]="post.replyCount"
      [postText]="post.text"
      [userAvatar]="'https://i.redd.it/i-got-bored-so-i-decided-to-draw-a-random-image-on-the-v0-4ig97vv85vjb1.png?width=1280&format=png&auto=webp&s=7177756d1f393b6e093596d06e1ba539f723264b'"
      [userFirstName]="post.authorFirstName"
      [userLastName]="post.authorLastName"
      >
    </user-post>
  </div>
</div>
<mat-card *ngIf="shouldShowFriendList" appearance="raised">
  <mat-card-title>Friend list</mat-card-title>
  <mat-card-subtitle *ngIf="!this.userFriends || this.userFriends.length === 0">Not even your mom is your friend...?</mat-card-subtitle>
  <mat-list *ngIf="this.userFriends && this.userFriends.length > 0">
    <div class="friendSectionList" *ngFor="let friend of userFriends">
      <mat-list-item>{{ friend.friendId }}</mat-list-item>
      <button *ngIf="shouldHaveWriteAccess" mat-icon-button (click)="deleteFriend(friend.friendId)">
        <mat-icon [ngStyle]="{'color':'orangered'}">delete</mat-icon>
      </button>
    </div>
  </mat-list>
</mat-card>

<mat-card *ngIf="shouldShowFriendRequests" appearance="raised">
  <mat-card-title>Friend Requests</mat-card-title>
  <mat-list *ngIf="this.userFriendRequests && this.userFriendRequests.length > 0">
    <div class="friendSectionList" *ngFor="let friend of userFriendRequests">
      <mat-list-item class="requestListItem">
        <span matListItemTitle>{{ friend.userId }}</span>
      </mat-list-item>
      <button mat-icon-button  (click)="acceptFriend(friend.userId)">
        <mat-icon [ngStyle]="{'color':'orangered'}">add_box</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteFriendRequest(friend.userId)">
        <mat-icon [ngStyle]="{'color':'orangered'}">delete</mat-icon>
      </button>
      <mat-divider></mat-divider>
    </div>
  </mat-list>
</mat-card>

<select [(ngModel)]="selectedUser" (change)="changeSelectedUser($event)">
    <option *ngFor="let user of availableUsers" [value]="user.username">
      {{ user.username }}
    </option>
</select>
<div>
  <!-- for testing puproses, but will likely default to searching by e-mail-->
  <label>Search User by ID</label>
  <input type="text" [(ngModel)]="currentSearchUser">
</div>
<button (click)="searchForUser()">Search for user</button>
<button [routerLink]="['/home']">Back to Home</button>
