<mat-card appearance="raised" id="mainCard">
  <mat-toolbar>
    <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu" aria-label="Example icon-button with menu icon">
      <mat-icon [ngStyle]="{'color':'orangered'}">menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon [ngStyle]="{'color':'orangered'}" (click)="logout()">logout</mat-icon>
        <span>Logout</span>
      </button>
      <button mat-menu-item (click)="backToHome()">
        <mat-icon [ngStyle]="{'color':'orangered'}">home</mat-icon>
        <span>Home</span>
      </button>
    </mat-menu>
  </mat-toolbar>
  <mat-card-title>{{ selectedUser.firstName}} {{ selectedUser.lastName}}</mat-card-title>
  <mat-card-subtitle> {{ selectedUser.username }}</mat-card-subtitle>
  <mat-card-content> {{selectedUser.bio}}</mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button (click)="showFeedCard()">Feed</button>
    <button mat-stroked-button (click)="showFriendCard()">Friends</button>
  </mat-card-actions>
</mat-card>

<div *ngIf="shouldShowProfileFeed">
  <h1>Feed</h1>
  <div *ngFor="let post of fakePosts">
    <mat-card  appearance="raised">
      <mat-card-content>{{ post }}</mat-card-content>
      <label>reply!</label>
      <input type="text">
      <button>reply</button>
    </mat-card>
  </div>
</div>
<mat-card *ngIf="shouldShowFriendList" appearance="raised">
  <mat-card-title>Friend list</mat-card-title>
</mat-card>

<select [(ngModel)]="selectedUser" (change)="changeSelectedUser($event)">
    <option *ngFor="let user of availableUsers" [value]="user.username">
      {{ user.username }}
    </option>
</select>
<div>
  <!-- for testing puproses, but will likely default to searching by e-mail-->
  <label>Search User by ID</label>
  <input type="text" [(ngModel)]="currentSearchUser">
</div>
<button (click)="searchForUser()">Search for user</button>
<button (click)="backToHome()">Back to Home</button>
