<mat-card class="user-post">
  <div class="post-header">
    <img class="user-avatar" alt="User Avatar" [src]="userAvatar" />
    <p class="user-name">{{ userFirstName }} {{ userLastName }}</p>
  </div>
  <div class="post-body">
    <p class="post-text">{{ postText }}</p>
    <div class="divider"></div>
    <div class="post-details">
      <div class="post-details-row">
        <span>{{ likes }} Likes</span>
      </div>
      <div class="post-details-row">
        <a role="button" tabindex="0" (click)="openComments()">
          {{ comments }} {{ comments === 1 ? 'Comment' : 'Comments' }}
        </a>
      </div>
    </div>
    <div *ngIf="shouldShowComments" class="divider"></div>
    <div class="comment-list" *ngIf="shouldShowComments">
      <ul *ngFor="let reply of replyList">
        <div class="comment-item">
          <li class="list-username">
            {{ reply.replierFirstName }} {{ reply.replierLastName}}
          </li>
          <li class="list-text">{{ reply.replyText }}</li>
          <div class="comment-divider"></div>
        </div>
      </ul>
      <div *ngIf="shouldShowComments" class="divider"></div>
      <a role="button" tabindex="1" (click)="closeComments()">Hide Comments</a>
    </div>
    <div *ngIf="shouldShowCommentText" class="comment-actions">
      <mat-form-field>
        <textarea
          [(ngModel)]="commentText"
          matInput
          placeholder="Ex. It makes me feel..."
        ></textarea>
      </mat-form-field>
      <div class="post-replies">
        <button (click)="comment()" class="interaction-row">
          <mat-icon class="icon">send</mat-icon>
          <p>Comment</p>
        </button>
        <button (click)="cancel()" class="interaction-row">
          <mat-icon class="icon">delete_forever</mat-icon>
          <p>Cancel</p>
        </button>
      </div>
    </div>
    <div class="divider"></div>
  </div>
  <div class="post-footer">
    
    <div class="post-reactions" *ngIf="showReactionTypes">
      <button>
        <mat-icon class="icon">thumb_up_alt</mat-icon>
        <p>Like</p>
      </button>
      <button>
        <mat-icon class="icon">thumb_down_alt</mat-icon>
        <p>Dislike</p>
      </button>
      <button>
        <mat-icon class="icon">favorite_border</mat-icon>
        <p>Heart</p>
      </button>
    </div>
    <button
      (click)="reactToPost('thumbs_up')"
      class="interaction-row"
      [disabled]="isLoading"
      (onmouseenter)="setShowReactionTypes(true)"
      (onmouseleave)="setShowReactionTypes(false)"
    >
      <ng-container *ngIf="hasReacted">
        <mat-icon class="liked">thumb_up_alt</mat-icon>
        <p class="likedText">Liked</p>
      </ng-container>
      <ng-container *ngIf="!hasReacted">
        <mat-icon class="icon">thumb_up_off_alt</mat-icon>
        <p>Like</p>
      </ng-container>
    </button>
    <button (click)="openCommentInput()" class="interaction-row">
      <mat-icon class="icon">chat_bubble_outline</mat-icon>
      <p>Comment</p>
    </button>
  </div>
</mat-card>
