<mat-card class="user-post" (mouseleave)="setShowReactionTypes(false)">
  <div class="post-header">
    <img class="user-avatar" alt="User Avatar" [src]="userAvatar" />
    <p class="user-name">{{ userFirstName }} {{ userLastName }}</p>
  </div>
  <div class="post-body">
    <p class="post-text">{{ postText }}</p>
    <div class="divider"></div>
    <div class="post-details">
      <div class="post-details-row">
        <span
          >{{ reactions }} {{ reactions === 1 ? 'Reaction' : 'Reactions'
          }}</span
        >
      </div>
      <div class="post-details-row">
        <a role="button" tabindex="0" (click)="openComments()">
          {{ comments }} {{ comments === 1 ? 'Comment' : 'Comments' }}
        </a>
      </div>
    </div>
    <div *ngIf="shouldShowComments" class="divider"></div>
    <div class="comment-list" *ngIf="shouldShowComments">
      <ul *ngFor="let reply of replyList">
        <div class="comment-item">
          <li class="list-username">
            {{ reply.replierFirstName }} {{ reply.replierLastName}}
          </li>
          <li class="list-text">{{ reply.replyText }}</li>
          <div class="comment-divider"></div>
        </div>
      </ul>
      <div *ngIf="shouldShowComments" class="divider"></div>
      <a role="button" tabindex="1" (click)="closeComments()">Hide Comments</a>
    </div>
    <div *ngIf="shouldShowCommentText" class="comment-actions">
      <mat-form-field>
        <textarea
          [(ngModel)]="commentText"
          matInput
          placeholder="Ex. It makes me feel..."
        ></textarea>
      </mat-form-field>
      <div class="post-replies">
        <button (click)="comment()" class="interaction-row">
          <mat-icon class="icon">send</mat-icon>
          <p>Comment</p>
        </button>
        <button (click)="cancel()" class="interaction-row">
          <mat-icon class="icon">delete_forever</mat-icon>
          <p>Cancel</p>
        </button>
      </div>
    </div>
    <div class="divider"></div>
  </div>
  <div class="post-footer">
    <div
      *ngIf="showReactionTypes"
      class="reaction-buttons"
      (mouseleave)="setShowReactionTypes(false)"
    >
      <button
        class="interaction-row"
        [disabled]="isLoading"
        (click)="reactToPost('thumbs_up')"
      >
        <ng-container *ngIf="reactionByUser === 'thumbs_up'">
          <mat-icon class="thumbs_up">thumb_up_alt</mat-icon>
          <p class="thumbs_up">Liked</p>
        </ng-container>
        <ng-container *ngIf="reactionByUser !== 'thumbs_up'">
          <mat-icon class="icon">thumb_up_off_alt</mat-icon>
          <p>Like</p>
        </ng-container>
      </button>
      <button
        class="interaction-row"
        [disabled]="isLoading"
        (click)="reactToPost('thumbs_down')"
      >
        <ng-container *ngIf="reactionByUser === 'thumbs_down'">
          <mat-icon class="thumbs_down">thumb_down_alt</mat-icon>
          <p class="thumbs_down">Disliked</p>
        </ng-container>
        <ng-container *ngIf="reactionByUser !== 'thumbs_down'">
          <mat-icon class="icon">thumb_down_off_alt</mat-icon>
          <p>Dislike</p>
        </ng-container>
      </button>
      <button
        class="interaction-row"
        [disabled]="isLoading"
        (click)="reactToPost('heart')"
      >
        <ng-container *ngIf="reactionByUser === 'heart'">
          <mat-icon class="heart">favorite</mat-icon>
          <p class="heart">Loved</p>
        </ng-container>
        <ng-container *ngIf="reactionByUser !== 'heart'">
          <mat-icon class="icon">favorite_border</mat-icon>
          <p>Love</p>
        </ng-container>
      </button>
    </div>
    <div class="post-reactions" (mouseenter)="setShowReactionTypes(true)">
      <button
        (click)="reactToPost('thumbs_up', true)"
        class="interaction-row"
        [disabled]="isLoading"
      >
        <ng-container *ngIf="reactionByUser">
          <mat-icon class="{{ reactionByUser }}">
            {{ reactionByUser === 'thumbs_up' ? 'thumb_up_alt' : reactionByUser
            === 'thumbs_down' ? 'thumb_down_alt' : 'favorite' }}
          </mat-icon>
          <p class="{{ reactionByUser }}">
            {{ reactionByUser === 'thumbs_up' ? 'Liked' : reactionByUser ===
            'thumbs_down' ? 'Disliked' : 'Loved' }}
          </p>
        </ng-container>
        <ng-container *ngIf="!reactionByUser">
          <mat-icon class="icon">thumb_up_off_alt</mat-icon>
          <p>Like</p>
        </ng-container>
      </button>
    </div>
    <button (click)="openCommentInput()" class="interaction-row">
      <mat-icon class="icon">chat_bubble_outline</mat-icon>
      <p>Comment</p>
    </button>
  </div>
</mat-card>
